* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    background-image: url(images/backgroundpic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #f8f8f8;
}

h1 {
    font-size: 36px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Styling for individual sections */
.vision h2,
.mission-statement h2,
.history h2,
.milestones h2 {
    color: #008080; /* Dark teal */
}

.mission-statement p {
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}
